*{
  margin: 0%;
}
.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px ;
}
.homepage .dir_menu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu_item
{
  min-width:30%;
  height: 240px;
  border: 1px solid black;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
}
.menu_item .content{
  height: 90px;
  padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.menu_item .content .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}
.menu_item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
